@model ProfileVM


<div class="dropdown">
    <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="text-center">

            <div class="avatar-initials d-inline-flex mb-2" style="background-color: @Model.AvatarBackgroundColor">
                <span>@Model.Initials</span>
            </div>

            <div>
                <p class="mb-0 text-sm ">@Model.RoleName</p>
            </div>

        </div>
    </a>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">


        <li><h6 class="dropdown-header">Merhaba, @Model.Name!</h6></li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ProfileForm", "UserProfile", new { area = "Admin" })">
                <i class="icon-mid bi bi-person me-2"></i> Profilim
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ChangePassword", "UserProfile", new { area = "Admin" })">
                <i class="icon-mid bi bi-key me-2"></i> Şifre Değiştir
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="@Url.Action("Logout", "Account", new { area = "" })">
                <i class="icon-mid bi bi-box-arrow-right me-2"></i> Çıkış Yap
            </a>
        </li>

    </ul>
</div>


